@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

/* =========================================================== */
/* awesome scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 0px;
	border-radius: 10px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #a8a8a8;

	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #a8a8a8;
}
::-webkit-scrollbar-thumb:active {
	background: #a8a8a8;
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

/* =========================================================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #170f23;
	color: #fff;
	font-family: "Inter", sans-serif;
	line-height: 1.6;
	position: relative;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
    border: none;
    outline: none;
}

/* =========================== left-sidebar ============================== */
.left-sidebar {
	position: fixed;
	top: 0;
	z-index: 100;
	width: calc(100% - 1290px);
	background-color: #f5f5f50d;
	height: 100%;
}

/* =========================== navbar ============================== */
.left-sidebar .navbar {
	width: 240px;
	height: 70px;
	top: 0;
	padding: 0 28px;
	display: flex;
	align-items: center;
}

.left-sidebar .navbar-logo {
	width: 120px;
	height: 40px;
	display: inline-block;
	background: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg)
		50% / contain no-repeat;
}

.left-sidebar .navbar-logo:hover {
	opacity: 0.9;
	cursor: pointer;
}

.left-sidebar .navbar-logo a {
	display: block;
	height: 100%;
}

/* =========================== content ============================== */
.left-sidebar .content {
	padding-bottom: 15px;
}

.left-sidebar .second-content {
	padding-top: 15px;
}

.left-sidebar li {
	border-left: 3px solid transparent;
	opacity: 0.8;
}

.left-sidebar li:hover {
	opacity: 1;
	cursor: pointer;
}

.left-sidebar li.active {
	opacity: 1;
	border-left: 3px solid #7200a1;
	background-color: #f5f5f50d;
}

.left-sidebar li a {
	color: #fff;
	display: flex;
	text-align: center;
	padding: 9px 25px;
}

.left-sidebar li i {
	margin-right: 12px;
	width: 20px;
	font-size: 18px;
}

.left-sidebar li span {
	font-size: 13px;
	letter-spacing: 0.4;
	margin-right: 6px;
}

.live-img {
	width: 40px;
}

/* =========================== sidebar-divine ============================== */
.sidebar-divine {
	position: relative;
}

.sidebar-divine::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    height: 1px;
    width: 190px;
    background-color: hsla(0, 0%, 100%, 0.1);
}

/* =========================== login-navbar ============================== */
.login-navbar-container {
	background-color: #7200a1;
	padding: 20px;
	margin: 15px 15px 0;
	text-align: center;
	border-radius: 16px;
}

.login-navbar-container h1 {
	color: #fff;
	font-size: 13px;
	letter-spacing: 0.4;
	margin-bottom: 15px;
}

.login-navbar-btn {
	width: 100%;
	color: #fff;
	background-color: #7200a1;
	border: 1px solid #fff;
	border-radius: 20px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 9px 24px;
	opacity: 1;
}

.login-navbar-btn:hover {
	opacity: 0.8;
	cursor: pointer;
}

/* =========================== right-sidebar ============================== */
.right-sidebar {
	position: relative;
	width: 1290px;
	height: 100%;
	left: 240px;
}

.right-sidebar .header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    width: calc(100% - 240px);
    height: 70px;
    padding: 0 30px;
    z-index: 99;
    background-color: #170f23;
}

.header-left {
	display: flex;
	align-items: center;
    height: 40px;
    width: 100%;
}

.header-left .arrow-back {
    opacity: .4;
    margin-left: 10px;
}

.header-left .arrow-next {
    opacity: .4;
    padding-left: 20px;
}

.header-left .input-field {
	background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    width: 540px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header-left i {
    color: #ddd;
    font-size: 20px;
    margin-left: -6px;
    margin-right: 12px;
}

.header-left input {
    width: 540px;
	background-color: transparent;
    color: #fff;
}

.header-left input::-webkit-input-placeholder {
    margin-top: 20px;
    color: #ddd;
    font-size: 14px;
    letter-spacing: .6;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right button {
	background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.header-right button i {
    color: #ddd;
    font-size: 14px;
}

/* tooltip */
button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #333333;
}

button .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #333333;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 128%;
    margin-left: -60px;
}

button .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333333 transparent;
}

button:hover .tooltiptext {
    visibility: visible;
}

/* =========================== mainpage ============================== */
.mainpage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    padding: 0 60px;
}

.container {
    padding: 20px 0 0 0;
    width: 100%;
    height: 100%;
}

/* =========================== gallery-slide ============================== */
.gallery-slide {
    position: relative;
    width: 1190px;
    height: 240px;
    left: -10px;
}

.gallery-slide h1 {
    font-size: 20px;
    margin-top: 30px;
}

.gallery-slide .back-btn,
.gallery-slide .next-btn {
    position: absolute;
    font-size: 50px;
    top: 100px;
    opacity: 0;
    transition: all ease .2s;
}

.gallery-slide:hover .back-btn,
.gallery-slide:hover .next-btn {
    opacity: .7;
    cursor: pointer;
}

.gallery-slide .back-btn:hover,
.gallery-slide .next-btn:hover {
    opacity: .5;
}

.gallery-slide .back-btn {
    left: 10px;
}

.gallery-slide .next-btn {
    right: 10px;
}

.gallery-slide .gallery-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gallery-slide .gallery-item {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.gallery-slide .gallery-item img {
    width: 376px;
    height: 100%;
    margin: 0 10px;
    border-radius: 10px;
}

/* ============================ slide ============================== */
.active {
    display: block;
}

.nonactive {
    display: none;
}

.hide-left {
    animation: hide-left .2s forwards;
}

@-webkit-keyframes hide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-396px);
    }
}

.come-right {
    animation: come-right .2s forwards;
}

@-webkit-keyframes come-right {
    from {
        transform: translateX(-396px);
    }
    to {
        transform: translateX(0);
    }
}

/* ============================ gallery ============================== */
.gallery {
    max-height: 300px;
    width: 100%;
    margin-top: 30px;
}

.gallery h1 {
    font-size: 20px;
    letter-spacing: .4;
    text-transform: capitalize;
}

.gallery .gallery-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.gallery .gallery-item {
    margin: 0 15px;
    width: 210px;
}

.gallery .gallery-item:first-child {
    margin-left: 0 !important;
}

.gallery .gallery-item:last-child {
    margin-right: 0 !important;
}

.gallery .picture {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

.gallery .picture img {
    width: 210px;
    height: 210px;
    transition: all ease .3s;
    border-radius: 8px;
}

.gallery .picture:hover img {
    transition: .5s ease-in-out;
    transform: scale(1.1);
}

.gallery .picture .overlay {
    width: 210px;
    height: 210px;
    position: absolute;
    transition: all ease .2s;
    opacity: 0;
}

.gallery .picture:hover .overlay {
    opacity: 1;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.gallery .heart-icon,
.gallery .play-icon,
.gallery .dots-icon {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transition: all ease .2s;
}

.gallery .picture .heart-icon,
.gallery .picture .dots-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .picture .play-icon:hover {
    opacity: .8;
}

.gallery .picture .heart-icon:hover,
.gallery .picture .dots-icon:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
}

.gallery .heart-icon {
    left: 20%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.gallery .play-icon {
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

.gallery .dots-icon {
    left: 80%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

/* ======================= tooltip for icon ======================== */
.gallery .heart-icon .tooltiptext {
    width: 70px;
    top: -170%;
    left: -68%;
}

.gallery .dots-icon .tooltiptext {
    width: 50px;
    top: -110%;
    left: -36%;
}

.gallery .heart-icon .tooltiptext,
.gallery .dots-icon .tooltiptext {
    visibility: hidden;
    background-color: #333333;
    color: #fff;
    font-size: 11px;
    letter-spacing: .4;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 2;
}

.gallery .heart-icon .tooltiptext::after,
.gallery .dots-icon .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
}

.gallery .heart-icon:hover .tooltiptext,
.gallery .dots-icon:hover .tooltiptext {
    visibility: visible;
}

.gallery .gallery-item h1 {
    font-size: 15px;
    margin: 8px 0 3px;
    color: #fff;
}

.gallery .gallery-item a:hover {
    color: #c662ef;
    cursor: pointer;
}

.gallery-item .author a,
.gallery-item .author span {
    font-size: 13px;
}

.gallery-item .author a:hover {
    border-bottom: 1px solid #c662ef;
}
